<main id="authentication-body">
    <div class="authentication-container">
        <div class="authentication-content">
            <div class="mat-typography">
                <h1>Réinitialiser le mot de passe</h1>
            </div>

            <div *ngIf="formErrorMessage" class="form-error__message mat-elevation-z1">
                {{ formErrorMessage }}
            </div>
    
            <form [formGroup]="resetForm" (ngSubmit)="onSubmitReset()">
                <div class="form-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
                        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="resetForm.controls.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
        
                <div class="form-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
                        <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                          <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="resetForm.errors?.['valuesDoNotMatch']">Les mots de passe doivent être identiques</mat-error>
                    </mat-form-field>
                </div>
        
                <button mat-flat-button type="submit" class="button-primary btn-large" color="primary">Réinitialiser le mot de passe</button>
            </form>
        </div>
    </div>
</main>
