<header id="main-header">
    <div class="container">
        <div class="site-branding">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active" >RepeatAgain</a>
        </div>
    </div>
</header>

<main>
    <div class="reset-container">
        <div class="reset-content">
            <h2>Réinitialiser le mot de passe</h2>
    
            <form [formGroup]="resetForm" (ngSubmit)="onSubmitReset()">
                <div class="form-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
                        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="resetForm.controls.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
        
                <div class="form-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
                        <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                          <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <div *ngIf="resetForm.errors?.['valuesDoNotMatch']" class="mat-error mat-form-field-subscript-wrapper">
                            Les mots de passe doivent être identiques
                        </div>
                    </mat-form-field>
                </div>
        
                <button type="submit" class="btn btn-block">Envoyer</button>
            </form>
        </div>
    </div>
</main>
