<main class="mat-typography relative top-16 mt-8 p-3 md:0">
    <div class="container mx-auto">
        <div class="flex justify-between items-center mb-5">
            <h1 class="mat-display-4">{{'app.folder.myFolders' | translate}}</h1>

            <div>
                <button mat-mini-fab color="primary" aria-label="Bouton pour ajouter un nouveau dossier" (click)="openDialogAddFolder()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <div class="mb-5">
            <form>
                <div class="form-container">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>{{'form.label.search' | translate}}</mat-label>
                        <input matInput type="text" name="search" [(ngModel)]="searchingFolder" (ngModelChange)="searchFolderByKeyword()">
                    </mat-form-field>
                </div>
            </form>

            <div>
                <button mat-flat-button color="primary" class="btn-primary" [matMenuTriggerFor]="menu">
                    {{'app.folder.filterFolders' | translate}}
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onFilterFolders('default')">
                        {{'app.option.default' | translate}}
                        <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="filterFolderBy == filterFolderValue.default">done</mat-icon>
                    </button>
                    <button mat-menu-item (click)="onFilterFolders('alphabetically')">
                        {{'app.option.fromAToZ' | translate}}
                        <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="filterFolderBy == filterFolderValue.alphabetically">done</mat-icon>
                    </button>
                    <button mat-menu-item (click)="onFilterFolders('category')">
                        {{'app.option.categories' | translate}}
                        <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="filterFolderBy == filterFolderValue.category">done</mat-icon>
                    </button>
                    <button mat-menu-item (click)="onFilterFolders('lastadd')">
                        {{'app.option.lastAdded' | translate}}
                        <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="filterFolderBy == filterFolderValue.lastadd">done</mat-icon>
                    </button>
                </mat-menu>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
            <div *ngFor="let folder of folders">
                <div class="relative">
                    <mat-card class="mat-elevation-z3 folder-card" [routerLink]="['/flashcards', folder._id]" routerLinkActive="router-link-active">
                        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 576 464" style="enable-background:new 0 0 576 464;" xml:space="preserve">
                        <path class="fill-primary-500" d="M545.9,217c-7.6-13.2-18.4-21.6-33.9-23.5c-11.8-1.5-23.6-0.8-35.4-1c-7.1-0.1-7.2-0.1-7.3-7.3
                        c0-20.1,0-40.3,0-60.4c0-5.3-1.1-10.2-3.8-14.8c-6.9-11.9-17.4-17.5-31-17.5c-58.9,0-117.9-0.1-176.8,0.1c-5.4,0-8.9-1.8-12-6.2
                        c-8.9-12.9-18.3-25.4-27.3-38.2c-7.7-11-18.3-15.6-31.2-15.6c-38.9-0.1-77.9-0.1-116.9,0c-18.6,0-30,9.6-33.4,27.4
                        c0,115,0,229.9,0,344.9c1.1,3.9,1.1,8.1,3.6,11.7c7.6,10.9,18,15.8,31.1,15.8c104.6,0,209.1,0,313.7,0c19.5,0,39-0.1,58.4,0
                        c8.6,0,14.6-3.7,18.4-11.3c0.8-1.6,1.7-3.3,2.5-4.9c25.5-51.1,51.1-102.2,76.6-153.2c3.4-6.7,6.6-13.4,7.3-21c0-4,0-8,0-12
                        C547.8,225.7,548.3,221,545.9,217z M69.3,343.7c-0.5,1-0.9,1.9-1.4,2.9c-0.3-0.1-0.5-0.1-0.8-0.2c0-1.6,0-3.2,0-4.7
                        c0-90.6,0-181.2-0.1-271.8c0-5,1.5-5.9,6.1-5.9c37.5,0.2,74.9,0.2,112.4,0c4.4,0,6.9,1.5,9.3,5C204,82,213.6,94.8,222.6,108
                        c7.6,11.1,17.8,16.2,31.2,16.1c59.5-0.2,118.9,0,178.4-0.2c4.9,0,6,1.2,6,6c-0.3,19.8-0.3,39.6,0,59.5c0,4.2-1.1,5.1-5.2,5.1
                        c-87.4-0.1-174.9-0.1-262.3-0.1c-15.7,0-29.1,4.6-38.8,17.6c-2.2,3-4,6.5-5.7,9.9C107.2,262.5,88.2,303.1,69.3,343.7z M517.1,240.8
                        c-11,22.3-22.1,44.6-33.2,66.9c-14.9,29.9-29.8,59.7-44.6,89.6c-1.2,2.4-2.3,3.7-5.4,3.7c-118.4-0.1-236.8-0.1-355.2-0.1
                        c-0.8,0-1.6-0.1-2.4-0.1c-0.3-1.8,0.8-3,1.4-4.3c25.2-54,50.5-107.9,75.5-162c3.3-7.2,8.3-10.2,16-10.2c111.4,0.1,222.8,0,334.2,0.1
                        c1.8,0,3.7,0.1,5.5,0.5C517.3,226.4,520.9,233.2,517.1,240.8z"/>
                        </svg>

                        <div>
                            <h2>{{folder.title}}</h2>
                            <div>
                                {{'app.folder.category' | translate}}: <strong>{{folder.category}}</strong>
                            </div>
                        </div>
                    </mat-card>
                <div class="folder-card__option">
                    <button mat-button [matMenuTriggerFor]="folderOption">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">more_vert</mat-icon>
                    </button>
                    <mat-menu #folderOption="matMenu">
                        <button mat-menu-item (click)="openDialogUpdateFolder(folder._id)">
                            {{'app.option.update' | translate}}
                        </button>
                        <button mat-menu-item (click)="deleteFolder(folder._id)">
                            {{'app.option.delete' | translate}}
                        </button>
                    </mat-menu>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>