<main id="authentication-body">
    <div class="authentication-container mat-typography">
        <div *ngIf="displayViewEmail()" class="authentication-validate-message">
            {{'authentication.emailResetPassword' | translate}} : <br>
            <span class="view-email">{{ viewEmail }}</span>
        </div>
    
        <div *ngIf="displayViewPassword()" class="authentication-validate-message">
            <p>
                {{'authentication.passwordReset' | translate}}
            </p>
            
            <div>
                <button mat-flat-button [routerLink]="['/login']" routerLinkActive="router-link-active"  type="button" class="button-primary" color="primary">{{'form.login' | translate}}</button>
            </div>
        </div>
    </div>
</main>