<header id="main-header">
    <div class="container">
        <div class="site-branding">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active" >RepeatAgain</a>
        </div>
    </div>
</header>

<main>
    <div class="view-container">
        <div *ngIf="displayView()">
            Nous avons envoyé un mail à l'adresse suivante
        </div>
    
        <div *ngIf="displayView()">
            Votre mot de passe a bien été réinitialisé
        </div>
    </div>
</main>