<header id="main-header">
    <div class="container">
        <div class="app-header-container">
            <div class="site-branding">
                <span>RepeatAgain</span>
            </div>
    
            <div>
                <nav>
                    <div *ngIf="isAuthenticated">
                        <button mat-button>
                            <mat-icon matBadge="0" matBadgeColor="warn">notifications</mat-icon>
                        </button>
                    </div>
                    <div>
                        <button mat-button (click)="setDarkTheme()">
                            <mat-icon>dark_mode</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="isAuthenticated">
                        <button mat-button [matMenuTriggerFor]="accountUser">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                        <mat-menu #accountUser="matMenu">
                            <button mat-menu-item><mat-icon>settings</mat-icon>Paramètres</button>
                            <button mat-menu-item (click)="onLogout()"><mat-icon>logout</mat-icon>Se déconnecter</button>
                        </mat-menu>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>