<div>
    <h2>Modifier une carte</h2>

    <form [formGroup]="updateFlashcardForm" (ngSubmit)="onSubmitUpdateFlashcard()">
        <div class="form-container">
            <mat-form-field appearance="fill">
                <mat-label>Question</mat-label>
                <input matInput formControlName="front" required>
                <mat-error *ngIf="updateFlashcardForm.controls.front.invalid">Ce champs est requis</mat-error>
            </mat-form-field>
        </div>

        <div class="form-container">
            <mat-form-field appearance="fill">
                <mat-label>Réponse</mat-label>
                <input matInput formControlName="back" required>
                <mat-error *ngIf="updateFlashcardForm.controls.back.invalid">Ce champs est requis</mat-error>
            </mat-form-field>
        </div>

        <div class="form-container">
            <mat-form-field appearance="fill">
                <mat-label>Informations supplémentaires</mat-label>
                <textarea matInput formControlName="note" ></textarea>
              </mat-form-field>
        </div>

        <button type="submit" mat-button color="primary">Modifier <mat-icon>autorenew</mat-icon></button>
    </form>
</div>