<main id="authentication-body">
    <div class="authentication-container">
        <div class="authentication-content">
            <div class="mat-typography">
                <h1>Réinitialiser le mot de passe</h1>
            </div>
            
            <div class="mat-typography">
                <p>
                    Entrez votre adresse e-mail avec laquelle vous vous êtes inscrit et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                </p>
            </div>

            <div *ngIf="formErrorMessage" class="form-error__message mat-elevation-z1">
                {{ formErrorMessage }}
            </div>
    
            <form [formGroup]="recoverForm" (ngSubmit)="onSubmitRecover()">
                <div class="form-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-error *ngIf="recoverForm.controls.email.hasError('required')">Ce champ est requis</mat-error>
                        <mat-error *ngIf="recoverForm.controls.email.hasError('email')">Ce champs doit être un email valide</mat-error>
                    </mat-form-field>
                </div>
        
                <button mat-flat-button type="submit" class="button-primary btn-large btn-auth" color="primary">Continuer</button>
            </form>
        </div>

        <div class="mat-typography authentication-links">
            Déjà un compte ? <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Se connecter</a>
        </div>
        
    </div>
</main>
