<header id="main-header">
    <div class="container">
        <div class="site-branding">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active" >RepeatAgain</a>
        </div>
    </div>
</header>

<main>
    <div class="reset-container">
        <div class="reset-content">
            <h2>Réinitialiser le mot de passe</h2>
    
            <form [formGroup]="recoverForm" (ngSubmit)="onSubmitRecover()">
                <div class="form-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-error *ngIf="recoverForm.controls.email.invalid">Ce champ est requis</mat-error>
                    </mat-form-field>
                </div>
        
                <button type="submit" class="btn btn-block">Envoyer</button>
        
                <div class="cancel-password-reset">
                    <a [routerLink]="['/login']" class="btn btn-block btn-cancel">Annuler</a>
                </div>
            </form>
        </div>
        
    </div>
</main>
