<main id="authentication-body">
    <div class="authentication-container">
        <div class="authentication-content">
            <div class="mat-typography">
                <h1>{{'authentication.title.passwordReset' | translate}}</h1>
            </div>
            
            <div class="mat-typography">
                <p>
                    {{'authentication.passwordResetDescription' | translate}}
                </p>
            </div>

            <div *ngIf="formErrorMessage" class="form-error__message mat-elevation-z1">
                {{ formErrorMessage }}
            </div>
    
            <form [formGroup]="recoverForm" (ngSubmit)="onSubmitRecover()">
                <div class="form-container">
                    <mat-form-field appearance="fill">
                        <mat-label>{{'form.label.email' | translate}}</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-error *ngIf="recoverForm.controls.email.hasError('required')">{{'form.error.required' | translate}}</mat-error>
                        <mat-error *ngIf="recoverForm.controls.email.hasError('email')">{{'form.error.validEmail' | translate}}</mat-error>
                    </mat-form-field>
                </div>
        
                <button mat-flat-button type="submit" class="button-primary btn-large btn-auth" color="primary">Continuer</button>
            </form>
        </div>

        <div class="mat-typography authentication-links">
            {{'authentication.alreadyAccount' | translate}} <a [routerLink]="['/login']" routerLinkActive="router-link-active" >{{'form.login' | translate}}</a>
        </div>
        
    </div>
</main>
