main {
    width: 100%;
    height: 100vh;
}

.reset-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.reset-content {
    text-align: center;
    max-width: 400px;
    width: 100%;
}

div.mat-error {
    padding: 0;
    margin: 0;
}

.forgot-password-container {
    margin-bottom: 10px;
}