<div>
    <h2>{{'app.flashcard.updateCard' | translate}}</h2>

    <form [formGroup]="updateFlashcardForm" (ngSubmit)="onSubmitUpdateFlashcard()">
        <div class="form-container">
            <mat-form-field appearance="fill">
                <mat-label>{{'form.label.question' | translate}}</mat-label>
                <input matInput formControlName="front" required>
                <mat-error *ngIf="front?.invalid">{{'form.error.required' | translate}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-container">
            <mat-form-field appearance="fill">
                <mat-label>{{'form.label.answer' | translate}}</mat-label>
                <input matInput formControlName="back" required>
                <mat-error *ngIf="back?.invalid">{{'form.error.required' | translate}}</mat-error>
            </mat-form-field>
        </div>

        <button type="submit" mat-button color="primary"><mat-icon>autorenew</mat-icon>{{'app.button.update' | translate}}</button>
    </form>
</div>
