<header id="main-header">
    <div class="container">
        <div class="app-header-container">
            <div class="site-branding">
                <span>RepeatAgain</span>
            </div>
    
            <div>
                <nav>
                    <div>
                        <form class="form-group">
                            <select class="form-control" [(ngModel)]="selectLang" name="selectLang" (change)="setTransLanguage()">
                            <option *ngFor="let lang of TransLang" value="{{lang}}">{{ lang | uppercase }}</option>
                            </select>
                        </form>
                    </div>
                    <div>
                        <button mat-button (click)="setDarkTheme()">
                            <mat-icon>dark_mode</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="isAuthenticated">
                        <button mat-button>
                            <mat-icon matBadge="0" matBadgeColor="warn">notifications</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="isAuthenticated">
                        <button mat-button [matMenuTriggerFor]="accountUser">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                        <mat-menu #accountUser="matMenu">
                            <button mat-menu-item><mat-icon>settings</mat-icon>{{'header.settings' | translate}}</button>
                            <button mat-menu-item (click)="onLogout()"><mat-icon>logout</mat-icon>{{'header.logout' | translate}}</button>
                        </mat-menu>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>