// Initialize colors
$black: #000;
$grey: #607D8B;
$blue: #2979FF;
$white: #fff;

// General element
section {
    padding: 60px 0;
}

.group-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 700px;
    margin: auto;

    p {
        text-align: center;
    }
}

h2, .group-title h2 {
    font-size: 48px;
    line-height: 110%;
    color: $grey;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-bottom: 24px;

    em {
        color: $black;
        font-style: normal;
    }
}

p {
    color: $grey;
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 120%;
}

mat-card {
    .card-container {
        display: flex;
    }

    .card-icon {
        margin-right: 10px;
    }

    .card-content {
        margin-left: 10px;
    }

    mat-card-title {
        color: $black;
        margin-bottom: 16px;
    }

    mat-card-content {
        font-size: 16px;
        color: $grey;
    }

    mat-icon {
        font-size: 42px;
        height: auto;
        width: auto;
        margin-bottom: 10px;
    }
}

main {
    margin-top: 60px;
}

// Element layout
header {
    .landing-page-header {
        display: flex;
        justify-content: space-between;
    }

    nav {
        button {
            margin-left: 20px;
        }
    }
}

// Headline
#headline {
    padding: 60px 0;

    .headline-content {
        display: flex;
        align-items: center;
    }
    
    h1 {
        font-size: 64px;
        font-weight: 700;
        line-height: 100%;
        color: $black;
        margin-bottom: 24px;
    }

    button {
        background: $blue;
        font-size: 16px;
        color: $white;
        padding: 16px 20px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 110%;

        &:hover {
            box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
        }
    }
    
    .illustration-banner {
        width: 100%;
        height: auto;
    }
}

#information {
    article {
        padding: 60px 0;
    }
    .item-information {
        display: flex;
        align-items: center;
    }
}

.landing-page-authentication-btn {
    display: flex;
    justify-content: center;
}

.social-networks-container {
    display: flex;
    justify-content: space-between;

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0 5px;
        }
    }
}

footer {
    padding-bottom: 20px;
    
    mat-divider {
        margin: 10px 0;
    }

    nav {
        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                margin-right: 10px;

                a {
                    text-decoration: none;
                    
                }
            }
        }
    }
}