<header id="main-header">
    <div class="container">
        <div class="landing-page-header">
            <div class="site-branding"><a [routerLink]="['/home']" routerLinkActive="router-link-active" >RepeatAgain</a></div>

            <nav>
                <button mat-flat-button [routerLink]="['/login']" routerLinkActive="router-link-active" >Se connecter</button>
                <button mat-flat-button color="primary" [routerLink]="['/signup']" routerLinkActive="router-link-active">S'inscrire</button>
            </nav>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <section id="headline">
            <div class="row">
                <div class="col-lg-6 headline-content">
                    <div>
                        <h1 class="mat-headline">Mémorisez tout sans aucun effort !</h1>
                        <p>
                            Créez vos fiches de révision et l'algorithme se de vous signaler à quel moment vous devez les réviser pour les mémoriser. Grâce à la technique de la révision espacée, vous pourrez tout ce que vous apprenez (vocabulaire, concepts complexes, livres, ...).
                        </p>
                        <div>
                            <button mat-flat-button color="primary" [routerLink]="['/signup']" routerLinkActive="router-link-active">Tester maintenant <mat-icon>east</mat-icon></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="../../assets/landing-page-headline.jpg" alt="Learning" class="illustration-banner">
                </div>
            </div>
            
        </section>

        <section id="features">
            <div class="group-title">
                <h2 class="mat-title">Un compagnon de révision <em>Un outil sur mesure</em></h2>
                <p>
                    Que vous appreniez une nouvelle langue, que vous soyez étudiant, ou que vous voulez simplement apprendre ou mémoriser de nouvelles choses. RepeatAgain sera votre meilleur compagnon pour atteindre vos objectifs.
                </p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-card class="mat-elevation-z6 basic-card">
                        <div class="card-container">
                            <div class="card-icon">
                                <mat-icon color="primary">schedule</mat-icon>
                            </div>
                            <div class="card-content">
                                <mat-card-title>Révision espacée</mat-card-title>
                                <mat-card-content>Technique d'apprentissage prouvée scientifiquement pour vous aider à apprendre plus rapidement et à long terme</mat-card-content>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card class="mat-elevation-z6 basic-card">
                        <div class="card-container">
                            <div class="card-icon">
                                <mat-icon color="primary">description</mat-icon>
                            </div>
                            <div class="card-content">
                                <mat-card-title>Flashcards</mat-card-title>
                                <mat-card-content>Utilisation des flashcards (carte mémoire) pour organiser vos informations efficacement et simplement</mat-card-content>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card class="mat-elevation-z6 basic-card">
                        <div class="card-container">
                            <div class="card-icon">
                                <mat-icon color="primary">devices</mat-icon>
                            </div>
                            <div class="card-content">
                                <mat-card-title>Multi-appareils</mat-card-title>
                                <mat-card-content>Apprenez ou étudiez où et quand vous voulez, sur votre téléphone pendant vos trajets ou confortablement sur votre ordinateur</mat-card-content>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card class="mat-elevation-z6 basic-card">
                        <div class="card-container">
                            <div class="card-icon">
                                <mat-icon color="primary">functions</mat-icon>
                            </div>
                            <div class="card-content">
                                <mat-card-title>Algorithme puissant</mat-card-title>
                                <mat-card-content>Algorithme efficace pour choisir les cartes que vous devez réviser au bon moment</mat-card-content>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card class="mat-elevation-z6 basic-card">
                        <div class="card-container">
                            <div class="card-icon">
                                <mat-icon color="primary">language</mat-icon>
                            </div>
                            <div class="card-content">
                                <mat-card-title>Multi-langues</mat-card-title>
                                <mat-card-content>L'application est disponible dans plusieurs langues : français, anglais, espagnol</mat-card-content>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </section>

        <section id="information">
            <article>
                <div class="row">
                    <div class="col-lg-6 item-information">
                        <div>
                            <h2>Révision adaptée <em>Apprentissage sur-mesure</em></h2>
                            <p>
                                Que vous soyez en train d'apprendre une nouvelle langue, de réviser des formules mathématiques ou encore bien d'autres choses. RepeatAgain vous propose plusieurs types de révision (quiz, auto-évalutation) configurable par dossier.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="../../assets/landing-page-revision.jpg" alt="">
                    </div>
                </div>
            </article>

            <article>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="../../assets/landing-page-settings.jpg" alt="">
                    </div>
                    <div class="col-lg-6 item-information">
                        <div>
                            <h2>Outil personnalisable <em>Une application pour vous</em></h2>
                            <p>
                                Personnalisez votre espace de travail à votre image. Grâce à nos paramètres de personnalisation, vous pouvez configurer la typographie, la couleur, le nombre de carte à réviser par dossier avant de recevoir une notification, ...
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </section>

        <section id="landing-page-authentication">
            <div class="group-title">
                <h2>Inscris-toi dès maintenant <em>Un monde de connaissances t'attends</em></h2>
            </div>
            <div class="landing-page-authentication-btn">
                <div>
                    <button mat-flat-button color="secondary" [routerLink]="['/login']" routerLinkActive="router-link-active" >Se connecter</button>
                    <button mat-flat-button color="primary" [routerLink]="['/signup']" routerLinkActive="router-link-active">S'inscrire</button>
                </div>
            </div>
        </section>
    </div>
    

</main>

<footer>
    <div class="container">
        <div class="social-networks-container">
            <div class="site-branding">RepeatAgain</div>
            <div class="social-networks">
                <ul>
                    <li><a href="#"><mat-icon>facebook</mat-icon></a></li>
                    <li><a href="#"><mat-icon>facebook</mat-icon></a></li>
                    <li><a href="#"><mat-icon>facebook</mat-icon></a></li>
                </ul>
            </div>
        </div>

        <mat-divider></mat-divider>
        
        <div>
            <nav>
                <ul>
                    <li>© 2022 RepeatAgain Tous droits réservés</li>
                    <li><a href="">Crédits</a></li>
                    <li><a href="">Politique de confidentialité</a></li>
                    <li><a href="">Cookies</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>