<div class="revision-container" *ngIf="isLoading">
    <div #revisionCard class="revision-card cursor-pointer" *ngIf="!endOfRevision">
        <div class="revision-card-content mat-elevation-z3" (click)="flipCard()">
            <mat-card class="card-front">
                <div class="bg-primary-500 mat-small">{{'app.revision.recto' | translate}}</div>
                {{ currentFlashcard.front }}
            </mat-card>
            <mat-card class="card-back">
                <div class="bg-accent-500 mat-small">{{'app.revision.verso' | translate}}</div>
                {{ currentFlashcard.back }}
            </mat-card>
        </div>
    </div>

    <div class="flex justify-center mt-8 flex-wrap" *ngIf="!endOfRevision">
        <button mat-flat-button color="primary" class="btn-primary btn-standard-response w-full md:w-auto" (click)="submitResponse(1)">{{'app.revision.standard.notAtAll' | translate}}</button>
        <button mat-flat-button color="primary" class="btn-primary btn-standard-response w-full md:w-auto" (click)="submitResponse(3)">{{'app.revision.standard.average' | translate}}</button>
        <button mat-flat-button color="primary" class="btn-primary btn-standard-response w-full md:w-auto" (click)="submitResponse(2)">{{'app.revision.standard.notVery' | translate}}</button>
        <button mat-flat-button color="primary" class="btn-primary btn-standard-response w-full md:w-auto" (click)="submitResponse(4)">{{'app.revision.standard.good' | translate}}</button>
        <button mat-flat-button color="primary" class="btn-primary btn-standard-response w-full md:w-auto" (click)="submitResponse(5)">{{'app.revision.standard.veryGood' | translate}}</button>
    </div>

    <div *ngIf="endOfRevision" class="mt-10 text-center">
        <p>
            {{'app.revision.endOfRevision' | translate}}
        </p>
        <button type="button" mat-flat-button color="primary" class="btn-primary" [routerLink]="['/flashcards', folderId]" routerLinkActive="router-link-active">{{'app.revision.back' | translate}}</button>
    </div>
</div>

<div *ngIf="!isLoading">
    <mat-spinner></mat-spinner>
</div>
