<main class="w-full h-screen mat-typography">
    <div class="authentication-container">
        <div class="authentication-content">
            <div class="mb-5">
                <h1>{{'authentication.title.passwordReset' | translate}}</h1>
            </div>

            <div>
                <p>
                    {{'authentication.passwordResetDescription' | translate}}
                </p>
            </div>

            <div *ngIf="formErrorMessage" class="form-error__message mat-elevation-z1">
                {{ formErrorMessage }}
            </div>

            <form [formGroup]="recoverForm" (ngSubmit)="onSubmitRecover()">
                <div class="form-container">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>{{'form.label.email' | translate}}</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-error *ngIf="email?.hasError('required')">{{'form.error.required' | translate}}</mat-error>
                        <mat-error *ngIf="email?.hasError('email')">{{'form.error.validEmail' | translate}}</mat-error>
                    </mat-form-field>
                </div>

                <button mat-flat-button type="submit" class="btn-primary w-full uppercase font-medium" color="primary">Continuer</button>
            </form>
        </div>

        <div class="mt-4">
            {{'authentication.alreadyAccount' | translate}} <a routerLink="/auth/login">{{'form.login' | translate}}</a>
        </div>

    </div>
</main>
