@import './scss/index';

// Angular material element
.basic-card {
    margin: 20px 0
}

/* #region GENERAL */
html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: 'Poppins', sans-serif;
}

// Image
img {
    width: 100%;
    height: auto;
}
/* #endregion */

/* #region DARK MODE */
.light-theme  {
    #main-header {
        background-color: $white;
    }
}

.dark-theme {
    #main-header {
        background-color: $dark-grey;
    }
}
/* #endregion */

/* #region HEADER */
#main-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 4.25em;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 7%);
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
}



.site-branding {
    display: flex;
    align-items: center;

    span {
        font-size: 20px;
        font-weight: 900;
        text-decoration: none;
        color: $blue;
    }
}
/* #endregion */


/**
* ------------------------------------------------
* BUTTONS
* ------------------------------------------------
*/
.mat-flat-button.button-primary {
    line-height: 45px;
    padding: 0px 32px;
    border-radius: 50px;

    &:hover {
        box-shadow: 0 7px 14px rgb(0 0 0 / 12%), 0 3px 6px rgb(0 0 0 / 8%);
        filter: brightness(130%);
    }
}

.mat-flat-button.btn-large {
    width: 100%;
}

.mat-flat-button.btn-auth {
    text-transform: uppercase;
    font-weight: 400;
}

/**
* ------------------------------------------------
* INPUTS
* ------------------------------------------------
*/
.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 50px !important;
    padding-left: 30px !important;
    padding-right: 30px !important; 
    border: 1px solid transparent !important;
}

.mat-focused .mat-form-field-flex {
    border: 1px solid $blue !important;
    box-shadow: 0 7px 14px rgb(0 0 0 / 12%), 0 3px 6px rgb(0 0 0 / 8%);
}

.mat-form-field-underline {
    display: none;
}

.mat-form-field-wrapper {
    padding-bottom: 15px;
}

// Forms
mat-form-field {
    width: 100%;
}

/* #region AUTHENTICATION PAGES */
.authentication-links {
    margin-top: 20px;
}

main#authentication-body {
    width: 100%;
    height: 100vh;
}

.authentication-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.authentication-content {
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 0 15px;
}

.authentication-links {
    div {
        margin-bottom: 10px;
    }
}

.authentication-validate-message {
    text-align: center;
}
/* #endregion */

/**
* ------------------------------------------------
* FORMS
* ------------------------------------------------
*/
.form-error__message {
    color: $red;
    text-align: left;
    padding: 10px 20px;
    border-left: 3px solid $red;
    border-radius: 5px;
    margin-bottom: 20px;
}