@import './scss/index';


// Global variable color angular material
// $primary: mat-color($light-primary);
$primary: pink;
// $accent: mat-color($accent);
// $error: mat-color($warn);

// Angular material element
.basic-card {
    margin: 20px 0
}

// Colors
$black: #000;
$grey: #607D8B;
$blue: #2979FF;
$white: #fff;

// General
html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: 'Poppins', sans-serif;
}

.body-content {
    margin-top: 100px;
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 0;
    background-color: $white;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 7%);

    z-index: 999;
}

.site-branding {
    display: flex;
    align-items: center;

    a {
        // color: $primary;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
    }
}

a {
    text-decoration: none;
}


/**
* ------------------------------------------------
* BUTTONS
* ------------------------------------------------
*/
.mat-flat-button.button-primary {
    line-height: 45px;
    padding: 0px 32px;
    border-radius: 50px;

    &:hover {
        box-shadow: 0 7px 14px rgb(0 0 0 / 12%), 0 3px 6px rgb(0 0 0 / 8%);
        filter: brightness(130%);
    }
}

.mat-flat-button.btn-large {
    width: 100%;
}

.mat-flat-button.btn-auth {
    text-transform: uppercase;
    font-weight: 400;
}

/**
* ------------------------------------------------
* INPUTS
* ------------------------------------------------
*/
.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 50px !important;
    padding-left: 30px !important;
    padding-right: 30px !important; 
    border: 1px solid transparent !important;
}

.mat-focused .mat-form-field-flex {
    border: 1px solid $primary !important;
    box-shadow: 0 7px 14px rgb(0 0 0 / 12%), 0 3px 6px rgb(0 0 0 / 8%);
}

.mat-form-field-underline {
    display: none;
}

.mat-form-field-wrapper {
    padding-bottom: 15px;
}

// Image
img {
    width: 100%;
    height: auto;
}

// Forms
mat-form-field {
    width: 100%;
}

/**
* ------------------------------------------------
* AUTHENTICATION PAGES
* ------------------------------------------------
*/
.authentication-links {
    margin-top: 20px;
}