/* Import material theming  */
@import '~@angular/material/theming';
@include mat-core();

@import './material/theme.scss';

// Light theme color by default
@include angular-material-theme($light-theme);

// Angular material element
.basic-card {
    margin: 20px 0
}


// Colors
$black: #000;
$grey: #607D8B;
$blue: #2979FF;
$white: #fff;

// General
html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: 'Poppins', sans-serif;
}

main {
    margin-top: 100px;
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 0;
    background-color: $white;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 7%);

    z-index: 999;
}

.site-branding {
    display: flex;
    align-items: center;

    a {
        color: $blue;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
    }
}

a {
    text-decoration: none;
}


// Buttons
.btn {
    font-weight: 500;
    border-radius: 4px;
    line-height: 1.4em;
    padding: 14px 33px 14px;
    font-size: 16px;
    border: 0 solid rgba(0,0,0,0);
    color: $white;
    // box-shadow: 0 1px 3px rgb(0 0 0 / 8%), 0 2px 4px rgb(0 0 0 / 12%);
    background: $blue;
    letter-spacing: -.01em;
    transition: all .3s ease;
    margin-bottom: 20px;

    &:hover {
        box-shadow: 0 7px 14px rgb(0 0 0 / 12%), 0 3px 6px rgb(0 0 0 / 8%);
        background: #4d8dfd;
        color: $white;
        outline: 0;
    }
}

.btn-block {
    width: 100%;
}

.btn-cancel {
    background-color: #dc3545;

    &:hover {
        background-color: #e95664;
    }
}

// Image
img {
    width: 100%;
    height: auto;
}

// Forms
mat-form-field {
    width: 100%;
}