<div class="revision-container" *ngIf="isLoading">
    <div *ngIf="!endOfRevision">
        <mat-card class="revision-card">
            <div class="bg-primary-500 mat-small">{{'app.revision.recto' | translate}}</div>
            {{ currentFlashcard.front }}
        </mat-card>

        <div *ngIf="!endOfRevision">
            <div class="mb-5">
                {{'app.revision.quiz.attempt' | translate}} : <strong>{{ attempt }}</strong>
            </div>
            <form [formGroup]="quizForm" (ngSubmit)="checkResponse()" class="quiz-response">
                <div class="form-container">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>{{'app.revision.quiz.response' | translate}}</mat-label>
                        <input matInput formControlName="response" placeholder="{{'app.revision.quiz.typeResponse' | translate}}" required>
                    </mat-form-field>
                </div>

                <button type="submit" mat-flat-button color="accent" class="btn-primary" [disabled]="quizForm.invalid"><mat-icon>send</mat-icon></button>
            </form>
        </div>
    </div>

    <div *ngIf="endOfRevision" class="mt-10 text-center">
        <p>
            {{'app.revision.endOfRevision' | translate}}
        </p>
        <button type="button" mat-flat-button color="primary" class="btn-primary" [routerLink]="['/flashcards', folderId]" routerLinkActive="router-link-active">{{'app.revision.back' | translate}}</button>
    </div>
</div>

<div *ngIf="!isLoading">
    <mat-spinner></mat-spinner>
</div>
