.folder-card-container {
    position: relative;
}

.folder-card {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    gap: 10px;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.folder-card__option {
    position: absolute;
    top: 16px;
    right: 0;
}