<main id="authentication-body">
    <div class="authentication-container">
        <div class="authentication-content">
            <div class="mat-typography">
                <h1>{{'authentication.title.signup' | translate}}</h1>
            </div>

            <div *ngIf="signupFormErrorMessage" class="form-error__message mat-elevation-z1">
                {{ signupFormErrorMessage }}
            </div>

            <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignupForm()">
                <div class="form-container">
                    <mat-form-field appearance="fill">
                        <mat-label>{{'form.label.username' | translate}}</mat-label>
                        <input matInput formControlName="username" required>
                        <mat-error *ngIf="signupForm.controls.username.hasError('required')">{{'form.error.required' | translate}}</mat-error>
                        <mat-error *ngIf="signupForm.controls.username.hasError('minlength')">{{'form.error.minLength4' | translate}}</mat-error>
                        <mat-error *ngIf="signupForm.controls.username.hasError('pattern')">{{'form.error.onlyAlpha' | translate}}</mat-error>
                    </mat-form-field>
                </div>
    
                <div class="form-container">
                    <mat-form-field appearance="fill">
                        <mat-label>{{'form.label.email' | translate}}</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-error *ngIf="signupForm.controls.email.hasError('required')">{{'form.error.required' | translate}}</mat-error>
                        <mat-error *ngIf="signupForm.controls.email.hasError('email')">{{'form.error.validEmail' | translate}}</mat-error>
                    </mat-form-field>
                </div>
    
                <div formGroupName="passwords">
                    <div class="form-container">
                        <mat-form-field appearance="fill">
                            <mat-label>{{'form.label.password' | translate}}</mat-label>
                            <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
                            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="signupForm.controls.passwords.controls.password.hasError('required')">{{'form.error.required' | translate}}</mat-error>
                            <mat-error *ngIf="signupForm.controls.passwords.controls.password.hasError('minlength')">{{'form.error.minLength4' | translate}}</mat-error>
                            <mat-error *ngIf="signupForm.controls.passwords.controls.password.hasError('pattern')">{{'form.error.passwordRules' | translate}}</mat-error>
                        </mat-form-field>
                    </div>
        
                    <div class="form-container">
                        <mat-form-field appearance="fill">
                            <mat-label>{{'form.label.confirmPassword' | translate}}</mat-label>
                            <input matInput formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
                            <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="signupForm.controls.passwords.controls.confirmPassword.hasError('required')">{{'form.error.required' | translate}}</mat-error>
                            <mat-error *ngIf="signupForm.errors?.['valuesDoNotMatch']">{{'form.error.samePassword' | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                </div> 
    
                <button mat-flat-button type="submit" class="button-primary btn-large btn-auth" color="primary">{{'form.createAccount' | translate}}</button>
            </form>
    
            <div class="authentication-links">
                {{'authentication.alreadyAccount' | translate}} <a [routerLink]="['/login']" routerLinkActive="router-link-active" >{{'form.login' | translate}}</a>
            </div>
        </div>
        
    </div>    
</main>