@use '@angular/material' as mat;
@import './color';

// Doc
// https://material.angular.io/guide/theming

$primary: mat.define-palette($blue-palette, 500);
$accent: mat.define-palette($orange-palette, 500);
$warn: mat.define-palette($red-palette, 500);
$light-theme: mat.define-light-theme((
 color: (
   primary: $primary,
   accent: $accent,
   warn: $warn,
 )
));

$dark-theme: mat.define-dark-theme((
 color: (
   primary: $primary,
   accent: $accent,
   warn: $warn,
 )
));

.dark-theme {
    @include mat.all-component-themes($dark-theme);
}

.light-theme {
 @include mat.all-component-themes($light-theme);
}