@use '@angular/material' as mat;
@import '../assets/fonts/Poppins/poppins';

// Doc typography Angular Material
// https://material.angular.io/guide/typography#typography-levels

$spaced-repetition-typography: mat.define-typography-config(
    $font-family: 'Poppins, sans-serif',
    $display-4: mat.define-typography-level(30px, 120%, 700),
    $headline: mat.define-typography-level(24px, 120%, 700),
    $title: mat.define-typography-level(20px, 120%, 600),
    $body-1: mat.define-typography-level(14px, 130%, 400),
    $body-2: mat.define-typography-level(14px, 130%, 500),
    $caption: mat.define-typography-level(10px, 130%, 400),
    $button: mat.define-typography-level(14px, 100%, 400)
);

.light-theme, .dark-theme {
    @include mat.core($spaced-repetition-typography);
}
